body{
  background-color: #1a2f35;
  font-family: Helvetica, sans-serif;
  color: #222;
}

.page{
  margin: 50px auto;
  width: 70%;
  background-color: #153942;
  border-radius: 5px;
  padding: 50px;
}

.page-header{
  margin-bottom: 20px;
}
  .page-header h2{
    float: left;
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    color: #95e8ff;
  }

  .page-header .student-search{
    float: right;
  }

    .page-header .student-search input{
      border-radius: 5px;
      border: 1px solid #95e8ff;
      padding: 8px 15px;
      font-size: 14px;
      cursor: pointer;
      background-color: #1a2f35;
      color: #95e8ff;
    }
    .student-search input::placeholder{
      color: #95e8ff;
    }
    :focus{
      outline: #95e8ff;
    }
    .page-header .student-search button{
      border-radius: 5px;
      border: 1px solid #95e8ff;
      padding: 8px 15px;
      font-size: 14px;
      background-color: #1a2f35;
      color: #95e8ff;
    }

.student-list{}

  .student-item{
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #1a2f35;
    transition: .15s filter linear;
    cursor: pointer;
  }
  .student-list:hover .student-item:not(:hover) {
    filter: opacity(50%);
  }
    .student-details{
      width: 50%;
      float: left;
    }

      .student-details .avatar{
        width: 40px;
        height: auto;
        border-radius: 20px;
        float: left;
        margin-right: 14px
      }

      .student-details h3{
        margin: 4px 0 2px 0;
        font-weight: bold;
        color: #47d7d7;
      }

      .student-details .email{
        color: #1ae0b8;
        font-size: 14px;
      }


    .joined-details{
      width: 50%;
      float: left;
      text-align: right;
    }

      .joined-details .date{
        margin-top: 15px;
        display: block;
        font-size: 14px;
        color: #1ae0b8;
      }

  .student-item:last-child{
    margin: 0;
    padding: 0;
    border-bottom: none;
  }

.pagination{
  margin: 40px 0 0 0;
  text-align: center;
}
 
  .pagination li{
    display: inline;
    cursor: pointer;
  }

    .pagination li a{
      border: 1px solid #153942;
      background-color: #1a2f35;
      border-radius: 5px;
      padding: 3px 8px;
      text-decoration: none;
      color: #4ba6c3;
    }

    .pagination li a.active,
    .pagination li a:hover{
      border: 1px solid #95e8ff;
      background-color: #153942;
      color: #95e8ff;
    }